h1 {
  font-size: 4.9vw;
}
h2 {
  font-size: 2.8vh;
}
h3 {
  font-size: 2.4vmin;
}
p {
  font-size: 1.8vmin;
}
.team {
  padding: 10px;

  ul {
    list-style-type: none;
  }
}


.on-sale {
  color: red;
}

.qty {
  width: 60px;
}

$animation-duration: 0.25s;

.animate-roster {
  &.ng-enter {
    animation: zoomInUp 0.5s;
  }
  &.ng-leave {
    animation: zoomOutDown 0.5s;
  }
}

.animate-team {
  &.ng-enter {
    animation: fadeInRight 1s;
  }
  &.ng-leave {
    animation: fadeOutLeft 1s;
  }
}

/* =========================== */
/* Twitter Bootstrap Overrides */
/* =========================== */
.buttonadd {
  width:40%;
  vertical-align: middle;
  background-color: gray;
  border-color: rgb(42,100,150);
}

.buttondetail {
  width: 40%;
  vertical-align: middle;
  background-color: rgb(42,100,150);
  border-color: rgb(42,100,150);
}

.buttonreset {
  width: 20%;
  background-color: rgb(42,100,150);
  border-color: rgb(42,100,150);
}
.buttonremove {
  background-color: navy;
  color: white;
}

.jumbotron {
  text-align: center;
  padding: 2px 0;
  margin-bottom: 0;
}

.list-group-player {
  border: none;
}

.dl-horizontal dt {
    text-align: left;
    /*margin-bottom: 1em;*/
    /*width: auto;*/
    padding-right: 1em;
}

.dl-horizontal dd {
    margin-left: 0;
    margin-bottom: 0;
}

.playersAccordion {
  font-size: 24px;
}

.smackTalk {
  margin: auto;
  width: 90%;
  border-style: solid;
  border-color: #4393B9;
  padding: 3px;
}

.panel-body {
  padding: 0px;
}

.table-hover tbody tr:hover td {
  background-color: #4393B9;
  color: white;
}
.table-hover2 tbody tr:hover td {
  background-color: navy;
  color: white;
}

table.PerformanceTable {
  margin: auto;
  table-layout: fixed;
  width: 100%;
  text-align: center;
  padding-bottom: 5px;

}
thead {
  font-size: 2.5vmin;
  color: white;
  background-color: #4393B9;
}

table {

    border-collapse: collapse;
    border-spacing: 0;
    padding-bottom: 5px;

}
th {

    text-align: center;
    padding-bottom: 5px;

}

tr {

    text-align: center;
    padding-bottom: 5px;
}

th, td {

  text-align: center;
  padding-bottom: 5px;
  border-bottom: 3px;
  font-size: 1.7vmin;
}
/* ================================== */
/* End of Twitter Bootstrap Overrides */
/* ================================== */

.players {
  padding-left: 0;
  padding-right: 30px;
}

.players p {
  font-size: 2.0rem;
  margin-left: 20px;
}

.players h3 {
  color: #337ab7;
}

.player {
  margin-top: 30px;
}

.player h2 {
  margin-bottom: 20px;
}

.player-image {
  margin-top: 0px;
  margin-left: 20px;
}

.player-image img {
}

.back {
  margin-top: 40px;
}

.search {
  text-align: center;
}