<div style="background-color: #D4E6E6; margin: auto; padding-bottom: 20px; padding-top: 0%; width: 100%; height: 80px"  class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img src="/assets/images/logo.png" alt="draft assist logo" height="80px" width="400px">
      <a href="/" class="navbar-brand" ></a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li style="margin-top: 15px" ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
        <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Admin</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup" style="margin-top: 30px; font-size: 14px; color:black">Sign up</a></li>
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login" style="margin-top: 30px; font-size: 14px; color:black">Login</a></li>
        <li ng-show="isLoggedIn()"><p class="navbar-text" style="margin-top: 30px; font-size: 13px; color:black">Welcome Back -- {{ getCurrentUser().name }}</p> </li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><a href="/settings"><span class="glyphicon glyphicon-cog"style="margin-top: 15px; color:black"></span></a></li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()"style="margin-top: 15px; font-size: 14px; color:black">Logout</a></li>
      </ul>
    </div>
  </div>
</div>